.gitignore
bin/
src/11k16bitpcm.wav
src/a.out
src/bit_test
src/bitio.o
src/bitv_test.c
src/delta.o
src/encode
src/fala-44100-estereo.wav
src/hf_test
src/huffman.o
src/huffman_test
src/hymn.mp3
src/hymn.mp3.wav
src/output_huffman.txt
src/priority_queue.o
src/ruido-44100-estereo.wav
src/ruido-44100-mono.wav
src/ruido-8000-mono.wav
src/run_length.o
src/saida.bin
src/silencio-16000-mono.wav
src/test.c
src/test_out.txt
src/vgcore*
src/wav_test
src/wavreader.o
LEIA-ME.txt
Projeto1.tar.bz2
src/binreader.o

